# Ignorowane pliki w repozytorium:

#### VScode ####
.vscode/
#### CMake ####
backend/Makefile
backend/CMakeCache.txt
backend/CMakeFiles/*
backend/cmake_install.cmake


#### Testy ####
backend/tests/outputs/*
backend/tests/libraries/*

#### API ####
api/.idea
api/*/__pycache__
api/*/*/__pycache__

#### Frontend ####
# dependencies
frontend/node_modules
frontend/.idea
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

#### pybind ####
pybind/build
pybind/pybind11
pybind/.idea
pybind/cmake-build-debug

#### backend ####
backend/CTestTestfile.cmake
backend/DartConfiguration.tcl
backend/Testing/
backend/.idea
backend/cmake-build-debug
