# Ignorowane pliki w repozytorium:

#### VScode ####
.vscode/

#### Podstawowe pliki CMake ####
CMakeCache*
Makefile
CTestTestfile*
CMakeFiles
cmake*
DartConfiguration.tcl
Testing/
build/


#### Testy ####
backend/tests/outputs/*
backend/tests/libraries/*

#### API ####
api/.idea
**/__pycache__
api/env

#### Frontend ####
# dependencies
frontend/node_modules
frontend/.idea
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

#### pybind ####
pybind/build
pybind/.idea
pybind/cmake-build-debug
pybind/backend

#### backend ####
backend/CTestTestfile.cmake
backend/DartConfiguration.tcl
backend/Testing/
backend/.idea
backend/cmake-build-debug
backend/tests/*
!backend/tests/src
!backend/tests/libraries
!backend/tests/outputs
backend/src/*
!backend/src/MainHeaders
!backend/src/MainHeaders/*
!backend/src/NumInt
!backend/src/NumInt/*
!backend/src/NumODE
!backend/src/NumODE/*
!backend/src/IndefInt
!backend/src/IndefInt/*
!backend/src/Global/
!backend/src/Global/*


