.strong_ml {
	font-weight:	bold;
	font-size:		1.5rem;
	margin-left:	8px;
}

.bd-placeholder-img {
	font-size: 				1.125rem;
	text-anchor: 			middle;
	-webkit-user-select: 	none;
	-moz-user-select: 		none;
	user-select: 			none;
}

.navbar {
	min-height: 3.5rem;
	z-index: 9999;
}

.calculator-panel {
	background-color: rgba(255,255,255,0.8);
	top: 0;
	z-index: 999;
	position: fixed;
	margin-top: 3.5rem;
	width: 100vw;
	box-shadow: 0 2px 5px #aaaaaa;
    overflow-y: scroll;
    max-height: 100vh;
}

.panel-filler {
	height: 35vh;
}

.main {
	position: relative;
}

#root {
	background-color: white;
	min-height: 100vh;
	position: relative;
}

#exactbtn {
    width: 20%;
}

#exactexpression {
    width: 80%;
}

#formula, #formula2 {
    width: 80% !important;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

@media (max-width: 600px) {
	p {
		margin-left: 8%;
		font-size: 0.8rem;
	}

	.p11 {
		margin-left: 0;
	}
}

@media (max-width: 484px) {
	p {
		font-size: 0.75rem;
	}

    #formula2 {
        margin-left: 10% !important;
    }

    /*#subbtn {
       display: none;
    }*/

    /*#exactbtn {
        display: none;
    }*/

    /*#exactexpression {
        margin-left: 10% !important;
    }*/
}

@media (max-width: 300px) {
	p {
		font-size: 0.5rem;
	}

    .text-muted {
        display: none;
    }

	.h11 {
		font-size: 0.8rem;
	}

	.p11 {
		display: none;
	}

    .strong_ml {
        display: none;
    }

    .panel-filler {
        height: 25vh;
    }
}

#exactresult .math-multiline {
	overflow-x: auto;
	overflow-y: hidden;
	max-height: 6rem;
	text-overflow: ellipsis;
	overflow-wrap: unset;
	white-space: nowrap;
}

.btn-calc-form {
	background-color: white !important;
}

.btn-calc-form:active, .btn-calc-form:hover {
	background-color: #6c757d !important;
}

.lds-ripple {
	display: block;
	position: absolute;
	margin-right: auto;
	margin-left: calc(50vw - 40px);
	margin-top: 10vh;
	width: 80px;
	height: 80px;
}

.lds-ripple div {
	position: absolute;
	border: 4px solid #adb5bd;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}

@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}
	4.9% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}
	5% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0;
		left: 0;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}

#header-logo {
	width: 23px;
	height: 23px;
}

#main-page article {
	margin-bottom: 1rem;
}

#settbtn {
	border-style: none;
}

.gallery-latex {
	overflow-x: auto;
}
