.strong_ml {
	font-weight: bold;
	font-size: 1.5rem;
	margin-left: 8px;
}

input[type="text"] {
	width: 80%;
    box-sizing: border-box;
}

input[type="button"] {
	width: 18%;
    box-sizing: border-box;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.navbar {
	height: 3.5rem;
}

.calculator-panel {
	background-color: rgba(255,255,255,0.8);
	top: 0px !important;
	z-index: 99999;
	position: fixed;
	margin-top: 3.5rem;
	min-width: 100vw;
}

.main {
	position: relative;
}

#root {
	background-color: rgb(222, 234, 250);
	min-height: 100vh;
	position: relative;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
